h1.team-title{
	color: white;
}
h3.team-member{
	color: white;
}
h3.member-role{
	color: white;
	font-size: 18px;
	font-style: italic;
}
p.member-description{
	color:grey;
}
#logo{
	color: #505718;
	position: relative;
	right: 20px;
}
#logo-info{
	position: relative;
	left: 30px;
}
img{

}
